<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <!-- link css  -->
    <link rel="stylesheet" href="style/admin.css">

    <!-- link boxicon  -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- font awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />



</head>

<body>


    <div class="header">
        <h2 class="hostel-title">Hostel Managemant System</h2>

        <i class="fa-solid fa-bars " id="ham-menu"></i>
        <ul id="nav-bar-links">
            <li>
                <a href="#">Admin</a>
            </li>
            <li>
                <a href="#">student-details</a>
            </li>
            <li>
                <a href="#">Student Atendence</a>
            </li>
            <li>
                <a href="#">Student Check details</a>
            </li>
            <li>
                <a href="#">Fees Report</a>
            </li>
            <li>
                <a href="#">Mess Details</a>
            </li>
            <li>
                <a href="#">Complaints</a>
            </li>
            <li>
                <a href="#">Change Password</a>
            </li>
            <li>
                <a href="#">Log out</a>
            </li>
        </ul>
    </div>

    <div class="container-main">

        <div class="container-nav">


            <ul class="login-link">
                <li>Student-details</li>
                <li>Student Atendence</li>
                <li>
                    <form action="/gatepass" method="get">
                        <button type="submit" class="logout-btn">Student Check Detail</button>
                    </form>
                </li>
                <li>Fees Report</li>
                <a href="/mess">
                    <li>Mess Details</li>
                </a>
                <a href="/complaints">
                    <li>Complaints</li>
                </a>
                <a href="/changepwd">
                    <li>Change Password</li>
                </a>
                <a href="/">
                    <li>Log out</li>
                </a>
            </ul>
        </div>
        <div class="container-details">

            <div class="admin-photo-details">


                <div class="dev-text-img">
                    <div class="dashboard_name">
                        <h2>
                            <i class="fa-solid fa-house"></i>
                            Admin
                        </h2>
                    </div>



                </div>


                <div class="student-details">
                    <div class="s-d-name">
                        <h4 class="s-name-tital detail-title">Name: </h4>
                        <span class="s-name-value detail-value"><%=adminData.name%></span>
                    </div>


                </div>

                <div class="s-d-name">
                    <h4 class=" detail-title">Email:</h4>
                    <span class=" detail-value"><%=adminData.email%></span>
                </div>
                <div class="s-d-name">
                    <h4 class=" detail-title">Position:</h4>
                    <span class=" detail-value"><%=adminData.position%></span>
                </div>

                <div class="s-d-name">
                    <h4 class=" detail-title">Address: </h4>
                    <span class=" detail-value"><%=adminData.address%></span>
                </div>
                <div class="s-d-name">
                    <h4 class=" detail-title">Mobile No.: </h4>
                    <span class=" detail-value"><%=adminData.mobileNo%></span>
                </div>


            </div>


        </div>





    </div>
    </div>

    <script>
        document.querySelector(".pay-btn").addEventListener("click", function () {
            alert("Your Fees Has Been Payed Successfully")

        });

        // nav bar script 
        let hamMenuIcon = document.getElementById("ham-menu");
        let navBar = document.getElementById("nav-bar-links");
        let navLinks = navBar.querySelectorAll("li");

        hamMenuIcon.addEventListener("click", () => {
            navBar.classList.toggle("active");
            hamMenuIcon.classList.toggle("fa-times");
        });
        navLinks.forEach((navLinks) => {
            navLinks.addEventListener("click", () => {
                navBar.classList.remove("active");
                hamMenuIcon.classList.toggle("fa-times");
            });
        });


    </script>
</body>

</html>